Bokeh is an interactive data visualization library for Python (and other languages!) that targets modern web browsers for presentation. It can create versatile, data-driven graphics, and connect the full power of the entire Python data-science stack to rich, interactive visualizations.

## What are glyphs?

In Bokeh, visual properties of shapes are called glyphs. The visual properties of these glyphs such as position or color can be assigned single values.

In [16]:
import pandas as pd
df=pd.read_csv('literacy_birth_rate.csv')

In [17]:
df

,Country,Continent,female literacy,fertility,population
0,Chine,ASI,90.5,1.769,1.324655e+09
1,Inde,ASI,50.8,2.682,1.139965e+09
2,USA,NAM,99,2.077,3.040600e+08
3,Indonésie,ASI,88.8,2.132,2.273451e+08
4,Brésil,LAT,90.2,1.827,1.919715e+08
5,Pakistan,ASI,40,3.872,1.661115e+08
6,Bangladesh,ASI,49.8,2.288,1.600001e+08
7,Nigéria,AF,48.8,5.173,1.512123e+08
8,Fédération de Russie,EUR,99.4,1.393,1.419500e+08
9,Japan,ASI,99,1.262,1.277040e+08
10,Mexique,LAT,91.5,2.156,1.063504e+08
11,Philippines,ASI,93.9,3.026,9.034844e+07
12,Viet Nam,ASI,90.2,2.033,8.621078e+07
13,Germany,EUR,99,1.324,8.211010e+07
14,Egypte,AF,57.8,2.816,8.152717e+07
15,Ethiopie,AF,22.8,5.211,8.071343e+07
16,Turquie,ASI,81.3,2.1,7.391426e+07
17,"Iran, République islamique d'",ASI,77.2,1.781,7.195632e+07
18,Thaïlande,ASI,91.5,1.822,6.738638e+07
19,Rép. Démocratique du Congo,AF,56.1,5.908,6.425664e+07
20,France,EUR,99,1.881,6.227743e+07
21,UK,EUR,99,1.852,6.141406e+07
22,Italie,EUR,98.5,1.39,5.983218e+07
23,Myanmar,ASI,89.2,2.281,4.956302e+07
24,Afrique du Sud,AF,88.1,2.505,4.868700e+07
25,South Korea,ASI,96.6,1.224,4.860700e+07
26,Ukraine,EUR,99.6,1.361,4.625820e+07
27,Espagne,EUR,96.9,1.468,4.555572e+07
28,Colombie,LAT,93.4,2.404,4.501210e+07
29,République-Unie de Tanzanie,AF,66.3,5.52,4.248392e+07
...,...,...,...,...,...
152,Malte,EUR,93.5,1.251,4.119500e+05
153,Brunéi Darussalam,ASI,93.3,2.052,3.922800e+05
154,Bahamas,LAT,96.5,3.371,3.376680e+05
155,Iceland,EUR,99,2.093,3.174140e+05
156,Maldives,ASI,98.4,2,3.050270e+05
157,Vanuatu,OCE,79.5,3.883,2.338660e+05
158,Samoa,OCE,98.5,3.852,1.788690e+05
159,Sao Tomé-et-Principe,AF,83.3,3.718,1.601740e+05
160,Aruba,LAT,98,1.732,1.054550e+05
161,Tonga,ASI,99.1,3.928,1.035660e+05
162,NaN,NaN,NaN,NaN,NaN
163,NaN,NaN,NaN,NaN,NaN
164,NaN,NaN,NaN,NaN,NaN
165,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,NaN,NaN,NaN
171,NaN,NaN,NaN,NaN,NaN
172,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN
174,NaN,NaN,NaN,NaN,NaN
175,Country,Continent,female literacy,fertility,NaN
176,Antigua-et-Barbuda,NaN,99.4,NaN,NaN
177,Antilles néerlandaises,NaN,96.3,NaN,NaN
178,Iles Caïmanes,NaN,99,NaN,NaN
179,Seychelles,NaN,92.3,NaN,NaN
180,Territoires autonomes palestiniens,NaN,90.9,NaN,NaN
181,WORLD,WORLD,77,NaN,NaN

In [18]:
df.columns

Index(['Country ', 'Continent', 'female literacy', 'fertility', 'population'], dtype='object')

In [19]:
# Import figure from bokeh.plotting
from bokeh.plotting import figure

# Import output_file and show from bokeh.io
from bokeh.io import output_file,show

# Create the figure: p
p = figure(x_axis_label='fertility (children per woman)',y_axis_label='female_literacy (% population)')

# Add a circle glyph to the figure p
p.circle(df['fertility'],df['female literacy'])

# Call the output_file() function and specify the name of the file
output_file('fert_lit.html')

# Display the plot

show(p)

## A scatter plot with different shapes

By calling multiple glyph functions on the same figure object, we can overlay multiple data sets in the same figure.
We plot female literacy vs fertility for two different regions, Africa and Latin America. 

Our job is to plot the Latin America data with the circle() glyph, and the Africa data with the x() glyph.

In [8]:
latinamerica=df[df['Continent']=='LAT']
africa=df[df['Continent']=='AF']

In [9]:

# Create the figure: p
p = figure(x_axis_label='fertility',y_axis_label='female_literacy (% population)')

# Add a circle glyph to the figure p
p.circle(latinamerica['fertility'],latinamerica['female literacy'])

# Add an x glyph to the figure p
p.x(africa['fertility'],africa['female literacy'])

# Specify the name of the file
output_file('fert_lit_separate.html')

# Display the plot
show(p)

## Customizing our scatter plots

The three most important arguments to customize scatter glyphs are **color**, **size**, and **alpha**. Bokeh accepts colors as hexadecimal strings, tuples of RGB values between 0 and 255, and any of the 147 CSS color names. Size values are supplied in screen space units with 100 meaning the size of the entire figure.

The alpha parameter controls transparency. It takes in floating point numbers between 0.0, meaning completely transparent, and 1.0, meaning completely opaque.

In [10]:
# Create the figure: p
p = figure(x_axis_label='fertility (children per woman)', y_axis_label='female_literacy (% population)')

# Add a blue circle glyph to the figure p
p.circle(latinamerica['fertility'],latinamerica['female literacy'], color='blue', size=10, alpha=0.8)

# Add a red circle glyph to the figure p
p.circle(africa['fertility'],africa['female literacy'], color='red', size=10, alpha=0.8)

# Specify the name of the file
output_file('fert_lit_separate_colors.html')

# Display the plot
show(p)

## Lines

We can draw lines on Bokeh plots with the line() glyph function

In [20]:
df=pd.read_csv('aapl.csv')

In [21]:
df

,Unnamed: 0,adj_close,close,date,high,low,open,volume
0,0,31.68,130.31,2000-03-01,132.06,118.50,118.56,38478000
1,1,29.66,122.00,2000-03-02,127.94,120.69,127.00,11136800
2,2,31.12,128.00,2000-03-03,128.23,120.00,124.87,11565200
3,3,30.56,125.69,2000-03-06,129.13,125.00,126.00,7520000
4,4,29.87,122.87,2000-03-07,127.44,121.12,126.44,9767600
5,5,29.66,122.00,2000-03-08,123.94,118.56,122.87,9690800
6,6,29.72,122.25,2000-03-09,125.00,118.25,120.87,9884400
7,7,30.57,125.75,2000-03-10,127.94,121.00,121.69,8900800
8,8,29.50,121.31,2000-03-13,126.50,119.50,122.12,10864400
9,9,27.78,114.25,2000-03-14,124.25,114.00,121.22,15321200
10,10,28.26,116.25,2000-03-15,120.25,114.12,115.62,15845200
11,11,29.56,121.56,2000-03-16,122.00,114.50,117.31,13516800
12,12,30.39,125.00,2000-03-17,125.00,119.62,120.12,10902400
13,13,29.91,123.00,2000-03-20,126.25,122.37,123.50,7316400
14,14,32.81,134.94,2000-03-21,136.75,121.62,122.56,18729200
15,15,35.06,144.19,2000-03-22,144.38,131.56,132.78,20288800
16,16,34.36,141.31,2000-03-23,150.38,140.00,142.00,20098000
17,17,33.72,138.69,2000-03-24,143.94,135.50,142.44,15962000
18,18,33.93,139.56,2000-03-27,144.75,136.88,137.63,9976800
19,19,33.83,139.13,2000-03-28,142.00,137.13,137.25,7253600
20,20,33.05,135.94,2000-03-29,139.44,133.83,139.38,8568800
21,21,30.57,125.75,2000-03-30,137.69,125.44,133.56,14800000
22,22,33.02,135.81,2000-03-31,137.25,126.00,127.44,14457600
23,23,32.41,133.31,2000-04-03,139.50,129.44,135.50,11742400
24,24,30.95,127.31,2000-04-04,133.00,116.75,132.63,23596400
25,25,31.70,130.38,2000-04-05,132.88,124.00,126.47,16359200
26,26,30.44,125.19,2000-04-06,134.50,123.25,130.63,9290800
27,27,32.03,131.75,2000-04-07,131.88,125.50,127.25,8668800
28,28,30.39,125.00,2000-04-10,132.75,124.75,131.69,7592400
29,29,29.04,119.44,2000-04-11,124.87,118.06,123.50,19368000
...,...,...,...,...,...,...,...,...
3240,3240,493.22,502.68,2013-01-17,510.75,502.03,510.31,16202800
3241,3241,490.59,500.00,2013-01-18,502.22,496.40,498.52,16890100
3242,3242,495.28,504.77,2013-01-22,507.88,496.63,504.56,16483800
3243,3243,504.34,514.01,2013-01-23,514.99,504.77,508.81,30768200
3244,3244,442.03,450.50,2013-01-24,465.73,450.25,460.00,52173300
3245,3245,431.61,439.88,2013-01-25,456.23,435.00,451.69,43143800
3246,3246,441.37,449.83,2013-01-28,453.21,435.86,437.83,28054200
3247,3247,449.65,458.27,2013-01-29,460.20,452.12,458.50,20398500
3248,3248,448.24,456.83,2013-01-30,462.60,454.50,457.00,14898400
3249,3249,446.92,455.49,2013-01-31,459.28,454.98,456.98,11404800
3250,3250,445.09,453.62,2013-02-01,459.48,448.35,459.11,19267300
3251,3251,434.00,442.32,2013-02-04,455.94,442.00,453.91,17039900
3252,3252,449.23,457.84,2013-02-05,459.74,442.22,444.05,20476700
3253,3253,448.75,457.35,2013-02-06,466.50,452.58,456.47,21203800
3254,3254,462.09,468.22,2013-02-07,470.00,454.12,463.25,25163600
3255,3255,468.76,474.98,2013-02-08,478.81,468.25,474.00,22612800
3256,3256,473.65,479.93,2013-02-11,484.94,473.25,476.50,18481800
3257,3257,461.77,467.90,2013-02-12,482.38,467.74,479.51,21751900
3258,3258,460.90,467.01,2013-02-13,473.64,463.22,467.21,16971700
3259,3259,460.48,466.59,2013-02-14,471.64,464.02,464.52,12688400
3260,3260,454.14,460.16,2013-02-15,470.16,459.92,468.85,13990900
3261,3261,453.97,459.99,2013-02-19,462.73,453.85,461.10,15563700
3262,3262,442.97,448.85,2013-02-20,457.69,448.80,457.69,17010800
3263,3263,440.22,446.06,2013-02-21,449.17,442.82,446.00,15970800
3264,3264,444.91,450.81,2013-02-22,451.60,446.60,449.25,11809100
3265,3265,437.00,442.80,2013-02-25,455.12,442.57,453.85,13306400
3266,3266,443.09,448.97,2013-02-26,451.54,437.66,443.82,17910700
3267,3267,438.75,444.57,2013-02-27,452.44,440.65,448.43,20976800
3268,3268,435.62,441.40,2013-02-28,447.87,441.40,444.05,11518400
3269,3269,424.83,430.47,2013-03-01,438.18,429.98,438.00,19730300

In [23]:
# Import figure from bokeh.plotting
from bokeh.plotting import figure

# Create a figure with x_axis_type="datetime": p
p = figure(x_axis_type='datetime',x_axis_label='Date', y_axis_label='US Dollars')

# Plot date along the x axis and price along the y axis
p.line(df['date'],df['close'])

# Specify the name of the output file and show the result
output_file('line.html')
show(p)

## Lines and Markers

In [25]:
# Import figure from bokeh.plotting
from bokeh.plotting import figure

# Create a figure with x_axis_type='datetime': p
p = figure(x_axis_type='datetime',x_axis_label='Date', y_axis_label='US Dollars')

# Plot date along the x-axis and price along the y-axis
p.line(df['date'],df['close'])

# With date on the x-axis and price on the y-axis, add a white circle glyph of size 4
p.circle(df['date'],df['close'], fill_color='white', size=4)

# Specify the name of the output file and show the result
output_file('line.html')
show(p)

## Patches

In Bokeh, extended geometrical shapes can be plotted by using the patches() glyph function. The patches glyph takes as input a list-of-lists collection of numeric values specifying the vertices in x and y directions of each distinct patch to plot.

In [26]:
# Create a list of az_lons, co_lons, nm_lons and ut_lons: x
x = [2,3,4,1]

# Create a list of az_lats, co_lats, nm_lats and ut_lats: y
y = [1,2,3,4]

# Add patches to figure p with line_color=white for x and y

p.patches(x,y,line_color='white')
# Specify the name of the output file and show the result
output_file('four_corners.html')
show(p)

## Plotting data from NumPy arrays

We'll generate NumPy arrays using np.linspace() and np.cos() and plot them using the circle glyph.

np.linspace() is a function that returns an array of evenly spaced numbers over a specified interval. For example, np.linspace(0, 10, 5) returns an array of 5 evenly spaced samples calculated over the interval [0, 10]. 

np.cos(x) calculates the element-wise cosine of some array x.

In [27]:
# Import numpy as np
import numpy as np

# Create array using np.linspace: x
x =np.linspace(0,5,100)

# Create array using np.cos: y
y =np.cos(x)

# Add circles at x and y
p.circle(x,y)

# Specify the name of the output file and show the result
output_file('numpy.html')
show(p)

## Plotting data from Pandas DataFrames

In [29]:
# Import pandas as pd
import pandas as pd

# Read in the CSV file: df
df = pd.read_csv('auto-mpg.csv')

In [30]:
df

,mpg,cyl,displ,hp,weight,accel,yr,origin,name,color,size
0,18.0,6,250.0,88,3139,14.5,71,US,ford mustang,blue,15.0
1,9.0,8,304.0,193,4732,18.5,70,US,hi 1200d,blue,20.0
2,36.1,4,91.0,60,1800,16.4,78,Asia,honda civic cvcc,red,10.0
3,18.5,6,250.0,98,3525,19.0,77,US,ford granada,blue,15.0
4,34.3,4,97.0,78,2188,15.8,80,Europe,audi 4000,green,10.0
5,32.9,4,119.0,100,2615,14.8,81,Asia,datsun 200sx,red,10.0
6,32.2,4,108.0,75,2265,15.2,80,Asia,toyota corolla,red,10.0
7,22.0,4,121.0,76,2511,18.0,72,Europe,volkswagen 411 (sw),green,10.0
8,15.0,8,302.0,130,4295,14.9,77,US,mercury cougar brougham,blue,20.0
9,17.0,8,302.0,140,3449,10.5,70,US,ford torino,blue,20.0
10,44.0,4,97.0,52,2130,24.6,82,Europe,vw pickup,green,10.0
11,24.5,4,151.0,88,2740,16.0,77,US,pontiac sunbird coupe,blue,10.0
12,32.0,4,135.0,84,2295,11.6,82,US,dodge rampage,blue,10.0
13,14.0,8,351.0,148,4657,13.5,75,US,ford ltd,blue,20.0
14,15.0,8,400.0,150,3761,9.5,70,US,chevrolet monte carlo,blue,20.0
15,13.0,8,307.0,130,4098,14.0,72,US,chevrolet chevelle concours (sw),blue,20.0
16,36.0,4,79.0,58,1825,18.6,77,Europe,renault 5 gtl,green,10.0
17,31.0,4,119.0,82,2720,19.4,82,US,chevy s-10,blue,10.0
18,32.0,4,71.0,65,1836,21.0,74,Asia,toyota corolla 1200,red,10.0
19,21.5,3,80.0,110,2720,13.5,77,Asia,mazda rx-4,red,7.5
20,19.0,6,225.0,95,3264,16.0,75,US,plymouth valiant custom,blue,15.0
21,17.0,6,231.0,110,3907,21.0,75,US,buick century,blue,15.0
22,16.0,8,302.0,140,4141,14.0,74,US,ford gran torino,blue,20.0
23,15.0,8,383.0,170,3563,10.0,70,US,dodge challenger se,blue,20.0
24,23.0,4,140.0,78,2592,18.5,75,US,pontiac astro,blue,10.0
25,26.0,4,98.0,90,2265,15.5,73,Europe,fiat 124 sport coupe,green,10.0
26,32.0,4,144.0,96,2665,13.9,82,Asia,toyota celica gt,red,10.0
27,24.0,4,113.0,95,2372,15.0,70,Asia,toyota corona mark ii,red,10.0
28,21.0,6,231.0,110,3039,15.0,75,US,buick skyhawk,blue,15.0
29,31.3,4,120.0,75,2542,17.5,80,Asia,mazda 626,red,10.0
...,...,...,...,...,...,...,...,...,...,...,...
362,26.0,4,97.0,46,1950,21.0,73,Europe,volkswagen super beetle,green,10.0
363,30.0,4,135.0,84,2385,12.9,81,US,plymouth reliant,blue,10.0
364,29.0,4,90.0,70,1937,14.2,76,Europe,vw rabbit,green,10.0
365,14.0,8,351.0,153,4154,13.5,71,US,ford galaxie 500,blue,20.0
366,25.4,6,168.0,116,2900,12.6,81,Asia,toyota cressida,red,15.0
367,19.0,6,232.0,100,2901,16.0,74,US,amc hornet,blue,15.0
368,12.0,8,400.0,167,4906,12.5,73,US,ford country,blue,20.0
369,20.0,4,97.0,88,2279,19.0,73,Asia,toyota carina,red,10.0
370,27.0,4,97.0,88,2130,14.5,71,Asia,datsun pl510,red,10.0
371,22.3,4,140.0,88,2890,17.3,79,US,ford fairmont 4,blue,10.0
372,10.0,8,307.0,200,4376,15.0,70,US,chevy c20,blue,20.0
373,19.2,8,267.0,125,3605,15.0,79,US,chevrolet malibu classic (sw),blue,20.0
374,26.0,4,156.0,92,2585,14.5,82,US,chrysler lebaron medallion,blue,10.0
375,16.0,6,258.0,110,3632,18.0,74,US,amc matador,blue,15.0
376,37.3,4,91.0,69,2130,14.7,79,Europe,fiat strada custom,green,10.0
377,26.0,4,79.0,67,1963,15.5,74,Europe,volkswagen dasher,green,10.0
378,20.2,6,232.0,90,3265,18.2,79,US,amc concord dl 6,blue,15.0
379,13.0,8,318.0,150,3755,14.0,76,US,dodge d100,blue,20.0
380,21.0,6,199.0,90,2648,15.0,70,US,amc gremlin,blue,15.0
381,25.0,4,90.0,71,2223,16.5,75,Europe,volkswagen dasher,green,10.0
382,20.5,6,231.0,105,3425,16.9,77,US,buick skylark,blue,15.0
383,37.7,4,89.0,62,2050,17.3,81,Asia,toyota tercel,red,10.0
384,36.0,4,120.0,88,2160,14.5,82,Asia,nissan stanza xe,red,10.0
385,20.0,6,156.0,122,2807,13.5,73,Asia,toyota mark ii,red,15.0
386,37.0,4,85.0,65,1975,19.4,81,Asia,datsun 210 mpg,red,10.0
387,18.0,6,250.0,88,3021,16.5,73,US,ford maverick,blue,15.0
388,27.0,4,151.0,90,2950,17.3,82,US,chevrolet camaro,blue,10.0
389,29.5,4,98.0,68,2135,16.6,78,Asia,honda accord lx,red,10.0
390,17.5,6,250.0,110,3520,16.4,77,US,chevrolet concours,blue,15.0
391,25.1,4,140.0,88,2720,15.4,78,US,ford fairmont (man),blue,10.0

In [31]:
# Import figure from bokeh.plotting
from bokeh.plotting import figure

# Create the figure: p
p = figure(x_axis_label='HP',y_axis_label='MPG')

# Plot mpg vs hp by color
p.circle(df['hp'],df['mpg'],color=df['color'],size=10)

# Specify the name of the output file and show the result
output_file('auto-df.html')
show(p)

## The Bokeh ColumnDataSource

The ColumnDataSource is a table-like data object that maps string column names to sequences (columns) of data. It is the central and most common data structure in Bokeh.We can create a ColumnDataSource object directly from a Pandas DataFrame by passing the DataFrame to the class initializer.

In [32]:
# Import the ColumnDataSource class from bokeh.plotting
from bokeh.plotting import ColumnDataSource
df=pd.read_csv('sprint.csv')
# Create a ColumnDataSource: source
source = ColumnDataSource(df)

# Add circle glyphs to the figure p
p.circle(x='Year', y='Time', color='color', size=8, source=source)

# Specify the name of the output file and show the result
output_file('sprint.html')
show(p)

In [33]:
source

ColumnDataSource(id='78cdb77e-5fa7-4973-b020-0352763cf5c5', ...)

In [34]:
df

                        Name Country   Medal   Time  Year        color
0                 Usain Bolt     JAM    GOLD   9.63  2012    goldenrod
1                Yohan Blake     JAM  SILVER   9.75  2012       silver
2              Justin Gatlin     USA  BRONZE   9.79  2012  saddlebrown
3                 Usain Bolt     JAM    GOLD   9.69  2008    goldenrod
4           Richard Thompson     TRI  SILVER   9.89  2008       silver
5                 Walter Dix     USA  BRONZE   9.91  2008  saddlebrown
6              Justin Gatlin     USA    GOLD   9.85  2004    goldenrod
7           Francis Obikwelu     POR  SILVER   9.86  2004       silver
8             Maurice Greene     USA  BRONZE   9.87  2004  saddlebrown
9             Maurice Greene     USA    GOLD   9.87  2000    goldenrod
10                Ato Boldon     TRI  SILVER   9.99  2000       silver
11          Obadele Thompson     BAR  BRONZE  10.04  2000  saddlebrown
12            Donovan Bailey     CAN    GOLD   9.84  1996    goldenrod
13        Frankie Fredericks     NAM  SILVER   9.89  1996       silver
14                Ato Boldon     TRI  BRONZE   9.90  1996  saddlebrown
15          Linford Christie     GBR    GOLD   9.96  1992    goldenrod
16        Frankie Fredericks     NAM  SILVER  10.02  1992       silver
17           Dennis Mitchell     USA  BRONZE  10.04  1992  saddlebrown
18                Carl Lewis     USA    GOLD   9.92  1988    goldenrod
19          Linford Christie     GBR  SILVER   9.97  1988       silver
20              Calvin Smith     USA  BRONZE   9.99  1988  saddlebrown
21                Carl Lewis     USA    GOLD   9.99  1984    goldenrod
22                Sam Graddy     USA  SILVER  10.19  1984       silver
23               Ben Johnson     CAN  BRONZE  10.22  1984  saddlebrown
24               Allan Wells     GBR    GOLD  10.25  1980    goldenrod
25  Silvio Leonard Tartabull     CUB  SILVER  10.25  1980       silver
26              Petar Petrov     BUL  BRONZE  10.39  1980  saddlebrown
27           Hasely Crawford     TRI    GOLD  10.06  1976    goldenrod
28            Donald Quarrie     JAM  SILVER  10.08  1976       silver
29             Valery Borzov     URS  BRONZE  10.14  1976  saddlebrown
..                       ...     ...     ...    ...   ...          ...
55            Ralph Metcalfe     USA  SILVER  10.30  1932       silver
56             Arthur Jonath     GER  BRONZE  10.40  1932  saddlebrown
57            Percy Williams     CAN    GOLD  10.80  1928    goldenrod
58        John "Jack" London     GBR  SILVER  10.90  1928       silver
59             Georg Lammers     GER  BRONZE  10.90  1928  saddlebrown
60           Harold Abrahams     GBR    GOLD  10.60  1924    goldenrod
61            Jackson Scholz     USA  SILVER  10.80  1924       silver
62            Arthur Porritt     NZL  BRONZE  10.90  1924  saddlebrown
63           Charles Paddock     USA    GOLD  10.80  1920    goldenrod
64            Morris Kirksey     USA  SILVER  10.90  1920       silver
65              Harry Edward     GBR  BRONZE  10.90  1920  saddlebrown
66               Ralph Craig     USA    GOLD  10.80  1912    goldenrod
67               Alvah Meyer     USA  SILVER  10.90  1912       silver
68         Donald Lippincott     USA  BRONZE  10.90  1912  saddlebrown
69           Reginald Walker     RSA    GOLD  10.80  1908    goldenrod
70              James Rector     USA  SILVER  11.00  1908       silver
71               Robert Kerr     CAN  BRONZE  11.00  1908  saddlebrown
72     Charles "Archie" Hahn     USA    GOLD  11.20  1906    goldenrod
73               Fay Moulton     USA  SILVER  11.30  1906       silver
74              Nigel Barker     AUS  BRONZE  11.30  1906  saddlebrown
75     Charles "Archie" Hahn     USA    GOLD  11.00  1904    goldenrod
76        Nathaniel Cartmell     USA  SILVER  11.20  1904       silver
77             Bill Hogenson     USA  BRONZE  11.20  1904  saddlebrown
78              Frank Jarvis     USA    GOLD  11.00  1900    goldenrod
79       J. Walter Tewksbury     USA  SILVER  11.10  1900       silver
80            Stanley Rowley     AUS  BRONZE  11.20  1900  saddlebrown
81              Thomas Burke     USA    GOLD  12.00  1896    goldenrod
82             Fritz Hofmann     GER  SILVER  12.20  1896       silver
83               Alojz Sokol     HUN  BRONZE  12.60  1896  saddlebrown
84              Francis Lane     USA  BRONZE  12.60  1896  saddlebrown

[85 rows x 6 columns]

## Selection and non-selection glyphs

We're going to add the box_select tool to a figure and change the selected and non-selected circle glyph properties so that selected glyphs are red and non-selected glyphs are transparent blue.

We'll use the ColumnDataSource object of the Olympic Sprint.

In [35]:
# Create a figure with the "box_select" tool: p
p =figure(x_axis_label='Year',y_axis_label='Time',tools='box_select')

# Add circle glyphs to the figure p with the selected and non-selected properties
p.circle(x='Year',y='Time',selection_color='red',nonselection_alpha=0.1,source=source)

# Specify the name of the output file and show the result
output_file('selection_glyph.html')
show(p)

## Hover glyphs


We're going to plot the blood glucose levels for an unknown patient. The blood glucose levels were recorded every 5 minutes on October 7th starting at 3 minutes past midnight.

The date and time of each measurement are provided to us as x and the blood glucose levels in mg/dL are provided as y.

A bokeh figure is also provided in the workspace as p.

Our job is to add a circle glyph that will appear red when the mouse is hovered near the data points. We will also add a customized hover tool object to the plot.

In [36]:
import pandas as pd
df=pd.read_csv('glucose.csv')

In [37]:
df

                datetime   isig  glucose
0    2010-10-07 00:03:00  22.10      150
1    2010-10-07 00:08:00  21.46      152
2    2010-10-07 00:13:00  21.06      149
3    2010-10-07 00:18:00  20.96      147
4    2010-10-07 00:23:00  21.52      148
5    2010-10-07 00:28:00  22.04      150
6    2010-10-07 00:33:00  21.94      152
7    2010-10-07 00:38:00  21.82      152
8    2010-10-07 00:43:00  21.70      152
9    2010-10-07 00:48:00  21.64      151
10   2010-10-07 00:53:00  21.62      151
11   2010-10-07 00:58:00  21.52      150
12   2010-10-07 01:03:00  21.22      149
13   2010-10-07 01:08:00  20.88      147
14   2010-10-07 01:13:00  20.70      146
15   2010-10-07 01:18:00  20.34      143
16   2010-10-07 01:23:00  19.68      140
17   2010-10-07 01:28:00  19.48      138
18   2010-10-07 01:33:00  19.48      136
19   2010-10-07 01:38:00  19.78      137
20   2010-10-07 01:43:00  20.18      138
21   2010-10-07 01:48:00  20.34      140
22   2010-10-07 01:53:00  19.56      138
23   2010-10-07 01:58:00  18.70      135
24   2010-10-07 02:03:00  18.54      132
25   2010-10-07 02:08:00  18.48      130
26   2010-10-07 02:13:00  18.54      129
27   2010-10-07 02:18:00  18.44      129
28   2010-10-07 02:23:00  18.58      129
29   2010-10-07 02:28:00  18.86      130
..                   ...    ...      ...
258  2010-10-07 21:33:00  15.40       95
259  2010-10-07 21:38:00  14.84       92
260  2010-10-07 21:43:00  13.96       87
261  2010-10-07 21:48:00  13.76       84
262  2010-10-07 21:53:00  14.16       84
263  2010-10-07 21:58:00  14.00       83
264  2010-10-07 22:03:00  14.42       84
265  2010-10-07 22:08:00  14.78       86
266  2010-10-07 22:13:00  14.56       86
267  2010-10-07 22:18:00  14.24       86
268  2010-10-07 22:23:00  13.80       84
269  2010-10-07 22:28:00  13.68       82
270  2010-10-07 22:33:00  13.66       82
271  2010-10-07 22:38:00  13.60       81
272  2010-10-07 22:43:00  13.64       81
273  2010-10-07 22:48:00  13.94       82
274  2010-10-07 22:53:00  14.66       84
275  2010-10-07 22:58:00  15.02       87
276  2010-10-07 23:03:00  15.32       89
277  2010-10-07 23:08:00  15.52       91
278  2010-10-07 23:13:00  15.82       92
279  2010-10-07 23:18:00  16.10       94
280  2010-10-07 23:23:00  15.50       93
281  2010-10-07 23:28:00  15.50       93
282  2010-10-07 23:33:00  16.14       94
283  2010-10-07 23:38:00  16.72       96
284  2010-10-07 23:43:00  17.60      100
285  2010-10-07 23:48:00  17.10      101
286  2010-10-07 23:53:00  16.06       99
287  2010-10-07 23:58:00  16.12       97

[288 rows x 3 columns]

In [40]:
# import the HoverTool
from bokeh.models import HoverTool
time=[]
for i in range(0,288):
    time.append(i)
# Add circle glyphs to figure p
p.circle(time,df['glucose'], size=10,
         fill_color='grey', alpha=0.1, line_color=None,
         hover_fill_color='firebrick', hover_alpha=0.5,
         hover_line_color='white')

# Create a HoverTool: hover
hover = HoverTool(tooltips=None,mode='vline')

# Add the hover tool to the figure p
p.add_tools(hover)

# Specify the name of the output file and show the result
output_file('hover_glyph.html')
show(p)

## Colormapping

The final glyph customization we'll be using is the CategoricalColorMapper to color each glyph by a categorical property.

Here, we're going to use the automobile dataset to plot miles-per-gallon vs weight and color each circle glyph by the region where the automobile was manufactured.

The origin column will be used in the ColorMapper to color automobiles manufactured in the US as blue, Europe as red and Asia as green.

In [42]:
# Import pandas as pd
import pandas as pd

# Read in the CSV file: df
df = pd.read_csv('auto-mpg.csv')
#Import CategoricalColorMapper from bokeh.models
from bokeh.models import CategoricalColorMapper

# Convert df to a ColumnDataSource: source
source = ColumnDataSource(df)

# Make a CategoricalColorMapper object: color_mapper
color_mapper = CategoricalColorMapper(factors=['Europe', 'Asia', 'US'],
                                      palette=['red', 'green', 'blue'])

# Add a circle glyph to the figure p
p.circle('weight', 'mpg', source=source,
            color=dict(field='origin', transform=color_mapper),
            legend='origin')

# Specify the name of the output file and show the result
output_file('colormap.html')
show(p)

## Time Series Data

In [36]:

# Import figure from bokeh.plotting
from bokeh.plotting import figure
# Import output_file and show from bokeh.io
from bokeh.io import output_file,show
# Create a figure with x_axis_type="datetime": p
p = figure(x_axis_type='datetime',x_axis_label='Date', y_axis_label='DST')

# Plot date along the x axis and price along the y axis
p.line(df['2017'].index,df.loc['2017']['DST Index'])

# Specify the name of the output file and show the result
output_file('line_DST.html')
show(p)

In [35]:
import pandas as pd
df=pd.read_csv('DST(Time-Series Format).csv')
df['Datetime'] = pd.to_datetime(df['Datetime'])
df.index=df['Datetime']

In [31]:
df.loc['2017']

                               Datetime  DST Index
Datetime
2017-01-01 00:00:00 2017-01-01 00:00:00      -12.0
2017-01-01 01:00:00 2017-01-01 01:00:00      -13.0
2017-01-01 02:00:00 2017-01-01 02:00:00      -16.0
2017-01-01 03:00:00 2017-01-01 03:00:00      -23.0
2017-01-01 04:00:00 2017-01-01 04:00:00      -29.0
2017-01-01 05:00:00 2017-01-01 05:00:00      -30.0
2017-01-01 06:00:00 2017-01-01 06:00:00      -28.0
2017-01-01 07:00:00 2017-01-01 07:00:00      -20.0
2017-01-01 08:00:00 2017-01-01 08:00:00      -18.0
2017-01-01 09:00:00 2017-01-01 09:00:00      -16.0
2017-01-01 10:00:00 2017-01-01 10:00:00      -12.0
2017-01-01 11:00:00 2017-01-01 11:00:00      -15.0
2017-01-01 12:00:00 2017-01-01 12:00:00      -13.0
2017-01-01 13:00:00 2017-01-01 13:00:00      -12.0
2017-01-01 14:00:00 2017-01-01 14:00:00      -13.0
2017-01-01 15:00:00 2017-01-01 15:00:00      -11.0
2017-01-01 16:00:00 2017-01-01 16:00:00      -13.0
2017-01-01 17:00:00 2017-01-01 17:00:00      -15.0
2017-01-01 18:00:00 2017-01-01 18:00:00      -13.0
2017-01-01 19:00:00 2017-01-01 19:00:00      -11.0
2017-01-01 20:00:00 2017-01-01 20:00:00      -11.0
2017-01-01 21:00:00 2017-01-01 21:00:00      -12.0
2017-01-01 22:00:00 2017-01-01 22:00:00      -11.0
2017-01-01 23:00:00 2017-01-01 23:00:00       -8.0
2017-01-02 00:00:00 2017-01-02 00:00:00       -4.0
2017-01-02 01:00:00 2017-01-02 01:00:00       -5.0
2017-01-02 02:00:00 2017-01-02 02:00:00       -8.0
2017-01-02 03:00:00 2017-01-02 03:00:00      -10.0
2017-01-02 04:00:00 2017-01-02 04:00:00      -11.0
2017-01-02 05:00:00 2017-01-02 05:00:00       -9.0
...                                 ...        ...
2017-12-30 18:00:00 2017-12-30 18:00:00       -4.0
2017-12-30 19:00:00 2017-12-30 19:00:00       -2.0
2017-12-30 20:00:00 2017-12-30 20:00:00        1.0
2017-12-30 21:00:00 2017-12-30 21:00:00        7.0
2017-12-30 22:00:00 2017-12-30 22:00:00       12.0
2017-12-30 23:00:00 2017-12-30 23:00:00       13.0
2017-12-31 00:00:00 2017-12-31 00:00:00       14.0
2017-12-31 01:00:00 2017-12-31 01:00:00       12.0
2017-12-31 02:00:00 2017-12-31 02:00:00       11.0
2017-12-31 03:00:00 2017-12-31 03:00:00        8.0
2017-12-31 04:00:00 2017-12-31 04:00:00        7.0
2017-12-31 05:00:00 2017-12-31 05:00:00        5.0
2017-12-31 06:00:00 2017-12-31 06:00:00        7.0
2017-12-31 07:00:00 2017-12-31 07:00:00        6.0
2017-12-31 08:00:00 2017-12-31 08:00:00        5.0
2017-12-31 09:00:00 2017-12-31 09:00:00        4.0
2017-12-31 10:00:00 2017-12-31 10:00:00        9.0
2017-12-31 11:00:00 2017-12-31 11:00:00       14.0
2017-12-31 12:00:00 2017-12-31 12:00:00       13.0
2017-12-31 13:00:00 2017-12-31 13:00:00       11.0
2017-12-31 14:00:00 2017-12-31 14:00:00       10.0
2017-12-31 15:00:00 2017-12-31 15:00:00       10.0
2017-12-31 16:00:00 2017-12-31 16:00:00        8.0
2017-12-31 17:00:00 2017-12-31 17:00:00        8.0
2017-12-31 18:00:00 2017-12-31 18:00:00       15.0
2017-12-31 19:00:00 2017-12-31 19:00:00       22.0
2017-12-31 20:00:00 2017-12-31 20:00:00       21.0
2017-12-31 21:00:00 2017-12-31 21:00:00       17.0
2017-12-31 22:00:00 2017-12-31 22:00:00       11.0
2017-12-31 23:00:00 2017-12-31 23:00:00        8.0

[8760 rows x 2 columns]